/*
background
*/
body {
    background-color: rgb(221, 246, 255);
}

/*
heading
*/ 
.heading {
    color:black;
    font-family: "Courier New", Courier, monospace;
    text-align: center; 
    font-size: 40px;
}

/*
normtext
*/ 
.p1 {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

/*
firsttable
*/
.table {
    border: 1px solid black; 
    border-collapse: collapse; 
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    height: 50px; 
    background-color: rgb(255, 255, 255);
}

/*
secondtable
*/
.table1 {
    border: 1px solid black; 
    border-collapse: collapse; 
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    height: 200px; 
    background-color: rgb(255, 255, 255);
}

/*
centering stuff
*/ 
td, th {
    text-align: center;
}
