/*
background
*/
body {
    background-color: rgb(231, 245, 255);
}

/*
heading
*/ 
.heading {
    color:black;
    font-family: "Courier New", Courier, monospace;
    text-align: center; 
    font-size: 35px;
}

/*
normtext
*/ 
.p1 {
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

/*
images
*/ 
img {
    width:auto;
    height:170px;
    vertical-align: bottom
}

/*
firsttable
*/
.table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 20px;

    height: 50px; 
    background-color: rgb(255, 255, 255);
    td:hover {background-color: rgb(204, 231, 255); border-spacing: 0; border-collapse: separate; border-radius: 20px;} 
}

/*
secondtable
*/
.table1 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;

    height: 250px; 
    background-color: rgb(255, 255, 255);
}

/*
thirdtable
*/
.table2 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;

    height: 200px; 
    background-color: rgb(255, 255, 255);
}

/*
centering stuff 
*/ 
td, th, p {
    text-align: center;
}
