/* 
tables in general
*/
table, th, td, tr {
    border: 1px solid black; 
    border-collapse: collapse; 
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/*
firsttable
*/
.table {
    height: 100px; 

}

/*
secondtable
*/
.table1 {
    height: 500px; 
}